
/* Variables */

$title_police: 'Shrikhand',cursive;
$max_width:1050px;
$color_meal:#ffffff;
$color_restaurants_bottom:darken($color_meal,10%);
$id_graph_colors:(primary:#9356DC,secondary:#FF79DA,tertiary:#99E2D0);
$color_button_heart:linear-gradient(350deg, map-get($id_graph_colors,tertiary) 0%, map-get($id_graph_colors,primary) 0%, map-get($id_graph_colors,secondary)100%);
$color_button_heart_hover:linear-gradient(350deg, map-get($id_graph_colors,tertiary) 0%, map-get($id_graph_colors,primary) 10%, map-get($id_graph_colors,secondary)90%);
$steps_number:3;
$breakpoints-responsive:(tablet:750px,big_phone:500px,small_phone:350px,computer:1000px);
$color_description:darken($color_meal,10%);
$check_width:60px;
$meal_top:70px;
$loading_duration:3000ms;
$loading_scale_start:1;
$loading_scale_end:1.5;

/* Listes */

$blocks_states: focus hover active;
$image_list:(1:'jay-wennington-N_Y88TWmGwA-unsplash.jpg',2:'stil-u2Lp8tXIcjw-unsplash.jpg',3:'toa-heftiba-DQKerTsQwi0-unsplash.jpg',4:'louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
$type_menus: entrees plats desserts;
/* Mixins */

@mixin title_police{
	font-family: $title_police;
}

@mixin flex_horizontal_center {
	display:flex;
	align-items:center;
	justify-content:center;
}

@mixin automatic_container {
	padding:5%;
}

@mixin second_title {	
	margin-top:10px;
	font-weight:bold;
	font-size:2em;
}

@mixin visited_link{
	text-decoration:none;
	color:black;
}

@mixin primary_button($color_text)
{
	&__button
	{
		margin:auto;
		background-image:$color_button_heart;
		height:50px;
		width:90%;
		max-width:300px;
		border-radius:50px;
		@include flex_horizontal_center;
		position:relative;
		top:25px;
		margin-bottom:50px;
		box-shadow:0px 6px 6px #d2d2d2;
		&__text
			{
				color:$color_text;
			}
		&:#{nth($blocks_states,2)}
			{
			background-image:$color_button_heart_hover;
			}
		@include tablets {
			width:85%;
		}
	}
}

@mixin functionment_steps ($steps_number)
{$number:1;
	@while $number<=$steps_number
	{
		&__#{$number}
		{
			list-style-type: none;
			width:100%;
			max-width:322px;
			height:74px;
			margin-top:12px;
			margin-bottom: 12px;
			border-radius: 24px;
			font-size:1.2em;
			background-color: darken($color_meal, 3.6%);
			box-shadow:0px 8px 8px /*#eaeaea*/darken($color_meal, 8.1%);
			& a {
				@include flex_horizontal_center();
				position:relative;
				align-content:space-between;
				width:100%;
				height:100%;
				text-decoration: none;
				color: black;
				font-weight:bold;
			}
			& .number {
				width:24px;
				height:24px;
				border-radius:50%;
				display:flex;
				justify-content: center;
				align-items: center;
				color:#fff;
				position:absolute;
				font-weight:normal;
				font-size: .9em;
				left: -4%;
				background-color: map-get($id_graph_colors, primary);
			}
			& .fas {
				position: relative;
				left:-20px;
				font-size:1.1em;
				color: lighten(#000000, 40%);
			}

			@include functionment_steps_dynamic_state(nth($blocks_states,1));
			@include functionment_steps_dynamic_state(nth($blocks_states,2));
			@include functionment_steps_dynamic_state(nth($blocks_states,3));
		}
		$number:$number+1;
	}
}

@mixin functionment_steps_dynamic_state ($state)
{
	&:#{$state}
	{
		background-color:lighten(map-get($id_graph_colors,primary),35%);
		& .fas
		{
			color: map-get($id_graph_colors, primary);
		}
	}
}

@mixin heart_fill {
	background: $color_button_heart;
	color:transparent;
	background-clip: unset;
	-webkit-background-clip: text;
}

@mixin home_page_restaurants($image_list) {
	&__nouveau {
		position:absolute;
		right:12px; top:12px;
		height: 30px;
		width:80px;
		background-color: map-get($id_graph_colors, tertiary);
		font-weight:bold;
		color:darken(map-get($id_graph_colors,tertiary),50%);
		@include flex_horizontal_center();
		font-size:0.9em;
	}
	&__bottom {
		height:78px;
		position: absolute;
		bottom:0px;
		width:100%;
		background-color:$color_restaurants_bottom;
		display:flex;
		justify-content: space-between;
		color:black;
	}
		&__like {
			width:70px;
			height:100%;
			@include flex_horizontal_center();
			position:relative;
			& .fa-heart {
				font-size:1.8em;
				position:absolute;
			}
			
			& .fas {
				display:inline-block;
				@include heart_fill;
			}
			& .far {
				z-index:2;
				background-color: $color_restaurants_bottom;
				opacity:1;
				transition:opacity 250ms;
				&:#{nth($blocks_states,2)} {
					opacity:0;
				}
			}
		}
		
		&__description {
			display:flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			margin-top: 1em;
			margin-left: 1em;
			text-transform: capitalize;
			&__name {
				margin:0px 0px 0px 5px;
				font-size:1.2em;
			}
			&__city {
				margin: 5px 0px 0px 5px;
			}
		}
	@each $key, $value in $image_list {
		&__#{$key} {
			background: url('./../assets/images/restaurants/'+#{$value}) no-repeat center/150%;
		}
	}
}

@mixin menus_display {
	$number:1;
	$menus_display_start:50;
	@while $number<=3 {
		&__#{nth($type_menus,$number)}__meal {
			animation: progressive_display 2000ms #{$menus_display_start}ms;
			animation-fill-mode:backwards;
		}
		$menus_display_start:$menus_display_start + 1100;
		$number:$number+1;
	}
}

@mixin meal_add ($state) {
	$number:1;
	@while $number<=3 {
		&:#{$state} {
			cursor:pointer;
			.menu__#{nth($type_menus,$number)}__meal {
				opacity:0;
				&::after {
					opacity:1;
				}
				&__description {
					&__prix {
						transform:translateX(-#{$check_width});
					}
					&__title {
						width:65%;
					}
					& p {
						width:65%;
					}
				}
				&__check
				{
					transform:translateX(-#{$check_width});
					& .fas {
						transform:rotate(360deg);
					}
				}
			}
		}
		$number:$number+1;
	}
}

/* Responsive */

@mixin tablets {
	@media all and (min-width:map-get($breakpoints-responsive,tablet)) {
		@content;
	}
}

@mixin computer {
	@media all and (min-width:map-get($breakpoints-responsive,computer)) and (orientation:landscape) {
		@content;
	}
}